* {
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    box-sizing: border-box;
    user-select: none;
}


html {
    scroll-behavior: smooth;

}

body {
    background: #000;


}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
    border-radius: 50px;
}


.logo {
    height: 50px;
    margin: 0;
    border-radius: 50%;

}

.logo2 {

    width: 100% !important;
    border-radius: 50%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 0, 0);
    padding: 15px;
    margin: 16px;
    margin-bottom: 0;
}

.navbar .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
}

.link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.link:hover::before {
    scale: 1;
    transform-origin: left;
}

.link:hover {
    color: rgb(255, 255, 255);
}

.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 16px;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and (max-width:600px) {
    .menu {
        width: 100%;

        max-height: 0;
        overflow: hidden;
    }

    .navbar {
        border-radius: 0;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    i {
        color: white;
    }
}


.home-section {
    background: url(./cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    margin: 16px;
    display: flex;
    font-display: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 40px;
}
@media screen and (max-width:600px) {
    .home-section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
}

.sec2 {
    display: grid;
    place-items: center;
    width: 50%;
}

.sec2 img {
    width: 90%;
}

.sec1 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;

}

.title {
    font-size: 3rem;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 64));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 20px rgba(255, 0, 0, 0.486)
}


h3 {
    font-size: 2rem;
}

.glow-on-hover {
    font-size: larger;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #222222;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(60deg, #5900ff, #8c00ff, #ff00f2, #ff004c, #ff0000, #ff004c, #ff00f2, #8c00ff, #5900ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/**/
.walls {
    background: transparent;
    margin-bottom: 100px;
}

.title2 {
    margin: 50px;
    font-size:100px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 76));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 20px rgba(255, 0, 0, 0.486)
}
@media screen and (max-width:600px) {
    
    .title2{
        font-size: xx-large;
    }
    
}

figure {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #000;
    overflow: hidden;
    flex: 1 1 300px;
    padding: 10px;
    margin: 10px;
}

figure figcaption::before {
    content: "";
    position: absolute;
    inset: 20px;
    border: 2px solid #fff;
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25s,
        scale 0.25s;
}

figure:hover figcaption::before {
    opacity: 1;
    scale: 1;
}

figure img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.85;
    scale: 1.15;
    transition: opacity 0.25s,
        scale 0.35s;
}

figure:hover img {
    opacity: 0.5;
    scale: 1;
}

figure figcaption {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

figure h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

figure p {
    font-size: 14px;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s translate 0.25s;
}

figure:hover p {
    opacity: 1;
    translate: 0;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

/**/
.contact {
    margin-top: 20px;
    margin: 16px;
}

.contact-cont {
    min-height: 100vh;
    background: #000;
    display: flex;
    align-items: center;

}

.contact-page {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}



.contact-conatiner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.contact-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-box {
    background-color: #ffffff12;
    padding: 20px;
    border-radius: 3px;
    border-left: 2px solid rgb(255, 0, 0);
    width: 100%;
    max-width: 360px;
    margin-bottom: 40px;
}

.box-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.box-icon {
    background: rgba(255, 251, 0, 0);
    width: 30px;
    height: 30px;
    color: rgb(255, 0, 0);
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

.box-content {
    color: #858585;
    font-size: 14px;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: #ffffff12;
    padding: 14px;
    color: #fff;
    border: 0;
}


textarea {
    width: 100%;
    margin-bottom: 10px;
    background: #ffffff12;
    padding: 14px;
    color: #fff;
    border: 0;
    resize: none;
    height: 160px;
}

input::placeholder {
    color: #888;
}

.nameInput,
.emailInput {
    width: calc(50% - 5px);
}

.nameInput {
    border-top-left-radius: 10px;
}

.emailInput {
    border-top-right-radius: 10px;
}

.sendbtn {
    background-color: rgb(255, 0, 0);
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
}

.sendbtn:hover {
    opacity: .7;
}


@media screen and (max-width:1200px) {
    .contact-box {
        max-width: 100%;
    }

    .nameInput,
    .emailInput {
        width: 100%;
        border-radius: 0;
    }


    .nameInput {
        border-radius: 10px 10px 0 0;
    }

}

/**/
.about-section {
    height: 80vh;
    display: flex;
    background: rgb(255, 0, 0);
    margin: 16px;
    
}


.cont {
    width: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
}

.social-menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.social-menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: rgb(255, 0, 0);
}

.social-menu ul li a:hover>.fa {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgb(0, 0, 0);
}

.social-menu ul li:nth-child(2) a:hover {
    background: linear-gradient(45deg,rgb(255, 115, 0),rgb(255, 0, 149));
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #007ec2;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #e90000;
}



.min {
    width: 100%;
}

p {
    color: #f1f1f1;
    width: 70%;
}

.cont ul {
    color: wheat;
    list-style: none;
}

.t {
    text-decoration: none;
    color: white;
    z-index: 100;
}

.t:hover {
    font-weight: bolder;
}

/*content*/
.auto {
    width: 100%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .5s;
}
.auto:hover > :not(:hover){
    filter:brightness(0.6);
    transition: all .5s;
}

.box {
    flex: 1 1 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: .5s;
}

.box:hover {
    transform: scale(1.2);
    z-index: 2;
}

.is {
    width: 100%;
    display: block;
    border-radius: 5px;
}
/**/
.button{
    margin-bottom: 40px;
}
.btn {
    text-decoration: none;
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    overflow: hidden;
    position: relative;
    transition: color .5s .25s;
    padding: 7px;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.785, .135, .15, .86);
}

.btn::before {
    left: 0;
    transform-origin: left;
}

.btn::after {
    right: 0;
    transform-origin: right;
}

.btn:hover::before,
.btn:hover::after {
    transform: scale(1);
}

.btn:hover {
    color: rgb(32, 32, 32);
    transition-delay: .1s;
}


input{
    caret-color: rgb(255, 0, 0);
}
@media screen and (max-width:600px) {
    
    .about-section {
        height: 80vh;
        display: flex;
        flex-direction: column;
        background: rgb(255, 0, 0);
        margin: 16px;
        justify-content: center;
        align-items: center;
    }
    
    .cont{
        width: 100%;
    }
    .social-menu{
        width: 100%;
    }
    .social-menu ul {
        gap: 0;
    }
    
}

.h3{
    margin-inline: 50px;
    text-align: center;
    font-size: xx-large;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 64));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 20px rgba(255, 0, 0, 0.486)
}